$border-radius: 6px;
$color-cube0: #dcdccc;
$color-cube2: #f0dfaf;
$color-cube4: #cc9393;
$color-cube8: #6f6f6f;
$color-cube16: #9fafaf;
$color-cube32: #709080;
$color-cube64: #cce5ed;
$color-cube128: #fcc5c0;
$color-cube256: #3d5974;
$color-cube512: #9d8b86;
$color-cube1024: #cbd7e2;
$color-cube2048: #be0d51;


html,body{
   margin: 0;
  padding: 0;
}
body{
  background-color: #e5d4c6;
  padding: 2%;
}
.title{
  margin-top: -30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #4682b4;
}
.btn-music{
  width: 30px;
  height: 30px;
  float: left;
}
.rules{
  display: none;
  float: left;
  width: 300px;
  color: #4682b4;
}
.btn-rules{
  height: 46px;
  background-color: #e09898;
  border-radius: $border-radius;
  color: #dcdccc;
  font-size: 18px;
  font-weight: bold;
  border: solid 1px #e09898;
}
.btn-again, .btn-back{
  @extend .btn-rules;
}
.prompt{
  color: #4682b4;
  display: block;
}
.box{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 550px;
  height: 630px;
}
.box-style{
  justify-content: space-between;
  margin: auto;
}
.box-play{
  @extend .box;
  justify-content: space-around;
  background-color: #bca3a3;
  border-radius: $border-radius;
  padding: 8px;
  width: 550px;
  height: 550px;
}
.box-play{
  div{
  border-radius: $border-radius;
  width: 110px;
  height: 110px;
  font-size: 54px;
  font-weight: bold;
  color: #dcdccc;
  text-align: center;
  line-height: 110px;
  }
}


//设置不同颜色
.cube0{
  background-color: $color-cube0 !important;
}
.cube2{
  background-color: $color-cube2 !important;
  color: #555577 !important;
}
.cube4{
  background-color: $color-cube4 !important;
}
.cube8{
  background-color: $color-cube8 !important;
}
.cube16{
  background-color: $color-cube16 !important;
}
.cube32{
  background-color: $color-cube32 !important;
}
.cube64{
  background-color: $color-cube64 !important;
  color: #555577 !important;
}
.cube128{
  background-color: $color-cube128 !important;
  color: #555577 !important;
}
.cube256{
  background-color: $color-cube256 !important;
}
.cube512{
  background-color: $color-cube512 !important;
}
.cube1024{
  background-color: $color-cube1024 !important;
  color: #555577 !important;
}
.cube2048{
  background-color: $color-cube2048 !important;
}